body {
  font-family: 'EB Garamond', serif;
  background-color: #f5f3f7;
  padding: 2rem;
  transition: background-color 0.4s ease;
}

h1 {
  font-family: 'Henny Penny', cursive;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 2rem;
}

form {
  border: solid purple 4px;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  margin: auto;
  background-color: #fff;
}


label,
fieldset {
  display: block;
  margin: 1rem 0;
  margin-bottom: 1.5rem;
}

input,
textarea,
button {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid purple;
  border-radius: 6px;
  font-family: 'EB Garamond', serif;
  margin-top: 0.3rem;
  font-weight: bold;
  color: rgb(13, 13, 14);

}

textarea {
  resize: vertical;
}

button {
  background-color: purple;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: indigo;
}

fieldset label {
  display: block;
  margin: 0.3rem 0;
}


form:has(input[value="slytherin"]:checked) {
  background-color: rgba(0, 255, 0, 0.1);

}

form:has(input[value="hufflepuff"]:checked) {
  background-color: rgba(255, 255, 0, 0.1);

}

form:has(input[value="ravenclaw"]:checked) {
  background-color: rgba(0, 0, 255, 0.1);
}

form:has(input[value="gryffindor"]:checked) {
  background-color: rgba(255, 0, 0, 0.1);
}

fieldset {
  border: 2px solid purple;
  border-radius: 6px;
  margin-top: 0.8rem;
  padding: 0.8rem;
}

legend {
  font-weight: bold;
}

.radio-group div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.radio-group input {
  margin: 0;
  width: auto;
}

input[type="checkbox"] {
  width: auto;
  margin-top: 0;

}

.required {
  color: red;
  font-weight: bold;
  position: relative;
  top: -2px;
  /* moves the star slightly upward */
  margin-left: 2px;
  /* adds space between text and star */
}